* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 87vh;
  width: 100%;
  text-align: center;
}

body h1 {
  padding-top: 150px;
}





footer.footer {
  text-align: center;
  height: 20px;
  width: 100%;
  background-color: white;
}
